* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e9e9e9; 
    color: #111;
}

header {
    background-color: #1f1f1f; 
    color: white;
    padding: 30px 20px;
    text-align: center;
}

header h1 {
    font-size: 32px;
    font-weight: bold;
}

nav {
    background-color: #dcdcdc;
    padding: 12px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #0033cc;
    font-weight: bold;
}

main {
    padding: 50px;
}

.dashboard h2 {
    margin-bottom: 40px;
    font-size: 26px;
}

.cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}


.card {
    background: #f5f5f5;
    padding: 30px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.card p {
    font-size: 15px;
    margin-bottom: 25px;
    color: #990000; /* κόκκινο όπως στο screenshot */
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #d4af37; /* μπεζ-χρυσό */
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #b8962e;
}

footer {
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 60px;
}
